/*
 * Header
 */

.header {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  align-items: center;
}

/* logo */
.header--logo {
  width: auto;
  max-height: 50px;
  margin-right: 15px;
  font-size: 2.3rem;
  fill: $color-3;

  &:hover {
    fill: $color-4;
  }
}

/* title text */
.header--title {
  display: flex;
  align-content: center;
  font-size: 2.3rem;
  font-family: $font-family-serif;
  font-weight: 400;
  color: $color-3;
}

.header--title--initials {
  @media (min-width: $small) {
    display: none;
  }
}

.header--title--text {
  display: none;

  @media (min-width: $small) {
    display: initial;
  }
}

/* Top menu */
.header--menu {
  margin-left: auto;
}

.header--menu--icon {
  font-size: 2.1rem;
}

.header--link {
  color: $color-3;
  text-decoration: none;

  &:hover {
    color: $color-4;
    text-decoration: none;
  }
}
