/*
 * Home main content
 */

.home--main {
  padding-bottom: 3rem;
}

.home--main--subtitle {
  font-family: $font-family-serif;
  color: $color;
}

.home--main--content {
  margin-top: 2rem;
}

.home--main--content--section--subtitle-2 {
  font-size: 2rem;
  font-family: $font-family-serif;
  color: $color;
  border-bottom: 1px solid $color;
}

.home--main--content--section--books {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.home--main--content--section--books--link {
  flex: 0 1 50%;
  color: $color;
  text-decoration: none;
  margin: 1rem 0;

  @media (min-width: $small) {
    flex: 0 1 33%;
  }

  @media (min-width: $medium) {
    flex: 0 1 50%;
  }

  &:hover {
    color: $color;
    text-decoration: none;
  }
}

.home--main--content--section--books--figure-2 {
  display: none;

  @media (min-width: $small) {
    display: initial;
  }
}

.home--main--content--section--books--figure-3 {
  display: none;

  @media (min-width: $medium) {
    display: initial;
  }
}

.home--main--content--section--books--figure {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  text-align: center;
  background-color: $background-color;
  box-shadow: 0 4px 8px 0 $box-shadow, 0 6px 20px 0 $box-shadow;
  transition: box-shadow .5s ease-out;
  height: 100%;

  &:hover {
    box-shadow: 0 4px 8px 0 $box-shadow-hover, 0 6px 20px 0 $box-shadow-hover;
  }
}

.home--main--content--section--books--figure--img {
  width: 100%;
  max-width: 260px;
  height: auto;
  max-height: 350px;
}

.home--main--content--section--books--figure--figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 10px 20px;
  max-width: 260px;
}
